@charset 'Shift_JIS';

h3{
	margin: 0;
}
h4{
	margin: 30px 0 5px 0;
}
h5{
	font-size: 90%;
	margin: 0 15px;
}

div.main{
	font-size: 100%;
}
div.footer{
	font-size: 100%;
	text-align: center;
}

form{
	margin: 0px;
}
form select,
form input{
	margin: 2px 0;
}

table{
	border-collapse: collapse;
}
table th,
table td{
	border: 1px solid black;
	padding: 1px 3px;
	font-size: 100%;
	white-space: nowrap;
}
table th span.bell,
table td span.bell{
	font-weight: bold;
}
table th span.sp,
table td span.sp{
	color: #666666;
	font-size: 75%;
}
table td{
}

table.inputTable th{
	background-color: inherit;
}
table.inputTable th,
table.inputTable td{
	border: none;
	padding: 0 1px;
}
table.inputTable td.sp{
	padding: 0 0 0 1em;
}

/*
table.result th.buy,
table.result td.buy{
	max-width: 60px;
}
table.result th span.namiDetail{
	color: #ff3366;
	text-decoration: underline;
}
*/

div.noscript{
	font-size: 150%;
}
div.resultCase{
	margin-left: 20px;
}
div.resultCase.fev3_mon1{
	text-decoration: line-through;
}
div.resultCase.nami span.namiUridoki{
	font-weight: bold;
}
div.detail table.range,
div.detail table.pattern{
	margin: 0 0 20px 20px;
}

textarea.copipe{
	font-size: 100%;
	margin: 0 0 0px 20px;
}

/* デバッグを表示・非表示 */
div.debug{
	display: block;	/* 表示 */
/*	display: none;	/* 非表示 */
}

.table td, .table th {
    padding: .2rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th {
	text-align: center;
}

.table td {
	text-align: center;
}

table th{
	font-weight: normal;
	text-align: center;
	background-color: #ef9a9a;
	color: #ffffff;
}